# Configurações de Segurança e Django
SECRET_KEY=sua_secret_key_aqui_gerada_aleatoriamente
DEBUG=False
ALLOWED_HOSTS=makisjeanty.com,www.makisjeanty.com
CSRF_TRUSTED_ORIGINS=https://makisjeanty.com,https://www.makisjeanty.com

# URLs Personalizadas e Tokens de Integração
ADMIN_URL=gestao-dmh8g6skcx
MONITORIA_URL=monitoria
KIWIFY_TOKEN=seu_token_secreto_aqui

# Identidade, SEO e Idiomas
SITE_NAME=Makis Jeanty
SITE_DOMAIN=makisjeanty.com
SITE_URL=https://makisjeanty.com
DEFAULT_LANGUAGE=fr
SUPPORTED_LANGUAGES=fr,ht
LOG_LEVEL=INFO

# Conexão com Banco de Dados MySQL
DB_NAME=base_central
DB_USER=user_central
DB_PASSWORD=sua_senha_mysql_aqui
DB_ROOT_PASSWORD=sua_senha_root_mysql_aqui
DB_HOST=127.0.0.1
DB_PORT=3306

# Redis (para Channels / WebSockets e Caching em Produção)
REDIS_URL=redis://127.0.0.1:6379/0

# Configurações de E-mail (SMTP)
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_HOST_USER=contato@makisjeanty.com
EMAIL_HOST_PASSWORD=sua_senha_email_aqui
