Django==6.0.7
PyMySQL==1.2.0
python-decouple==3.8
django-cors-headers==4.9.0
djangorestframework==3.17.1
django-filter==26.1
whitenoise==6.12.0
channels==4.3.2
daphne==4.2.2
Pillow==12.3.0
channels_redis==4.3.0
django-ratelimit==4.1.0
